@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-text-color: rgba(22, 22, 22, 0.922);
  --main-bg-color: white;
  --secondary-bg-color: rgb(241, 241, 241);
  --fore-bg-color: rgb(241, 241, 241);
  --btn-color: rgb(71, 101, 130);
  --title-color: rgb(33, 53, 71);
  --big-btn-color: rgb(71, 101, 130);
  --small-btn-color: rgb(241, 241, 241);
  --paragraph-text-color: rgba(55, 54, 54, 0.916);
  --tag-text-color: #036b3c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* languages colors */

  --color-node: #339933;
  --color-next: #3b3939;
  --color-css: #264de4;
  --color-html: #e44d26;
  --color-javascript: #dcc416e4;
  --color-react: #3bc5ec;
  --color-python: #3776ab;
  --color-tailwind: #06b6d4;
  --color-mongodb: #47a248;
  --color-postgresql: #28567c;
  --color-typescript: #3178c6;
}

[data-theme='dark'] {
  --main-bg-color: #1a1a1a;
  --main-text-color: rgba(241, 238, 238, 0.867);
  --secondary-bg-color: #2f2f2f;
  --fore-bg-color: #242424;
  --btn-color: rgb(71, 101, 130);
  --big-btn-color: #aac8e4;
  --title-color: #aac8e4;
  --small-btn-color: #213547;
  --tag-text-color: #42b883;
  --paragraph-text-color: rgba(235, 235, 235, 0.6);

  --color-node: whitesmoke;
  --color-next: whitesmoke;
  --color-css: whitesmoke;
  --color-html: whitesmoke;
  --color-javascript: whitesmoke;
  --color-react: whitesmoke;
  --color-python: whitesmoke;
  --color-tailwind: whitesmoke;
  --color-mongodb: whitesmoke;
  --color-postgresql: whitesmoke;
  --color-typescript: whitesmoke;
}

/* darktheme {
  --main-bg-color: #1a1a1a;
  --secondary-bg-color:#2f2f2f;
  --fore-bg-color: #242424;
  --btn-color: rgb(71, 101, 130);
  --big-btn-color:#aac8e4;
  -small-btn-color:#213547;
  --paragraph-text-color:rgba(235, 235, 235, 0.6)
  
} */

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  transition: background-color 0.1s ease-in;
}
body::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
a:hover {
  text-decoration: none;
}
/* NAV bar styles and media query  */

.header {
  position: fixed;
  z-index: 100000;
  top: 0;
  padding: 0.5rem 3rem;
  width: 100%;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid rgba(84, 84, 84, 0.48);
  transition: background-color 0.1s ease-in;
}

.logo {
  font-size: 1.8rem;
  font-family: 'DynaPuff', cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  letter-spacing: -2px;
}
.log-bar {
  color: #42b883;
}
.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  display: none;
  width: 30px;
  height: 30px;
  background: transparent;
  border: transparent;
}

/* ThemeToggle styles starts here */

.dark-outer-container {
  width: 46px;
  display: flex;
  justify-content: flex-end;
  height: 24px;
  padding: 2px;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  border: 1px solid rgba(84, 84, 84, 0.48);
  cursor: pointer;
}

.dark-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  margin: 2px;
  border: none;
}
.dark-outer-container .light {
  background-color: #242424;
  color: white;
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
}

.dark-outer-container .dark {
  background-color: whitesmoke;
  transition: all 0.4s ease-in-out;
}
.dark-svg {
  width: 100%;
  height: 100%;
}

.light-svg {
  width: 100%;
  height: 100%;
}

/* ThemeToggle styles ends here */

.menu-svg {
  width: 100%;
  height: 100%;
  color: var(--main-text-color);
  transition: all 0.4s ease-in-out;
}

.menu-page-container {
  overflow: hidden;
  transition: 0.3s ease-in-out all;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.link-item {
  color: var(--main-text-color);
  transition: 0.3s ease-in-out all;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(84, 84, 84, 0.48);
}

.nav-bar-social {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1.5rem;
  }
  .menu-container {
    display: flex;
  }
}

.content {
  position: relative;
  min-height: calc(100vh- 160px);
  display: flex;
}
/* HERO SECTION */
.left {
  height: 100vh;
  width: 45%;
  position: fixed;
  left: 0;
  top: 50px;
  object-fit: cover;
  border: transparent;
}

.hero-content {
  padding: 2rem 1.5rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
.text {
  line-height: 1.5;
  text-align: left;
}
.name {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1.5px;
  margin-bottom: 0.8rem;
}

.job {
  font-size: 1.25rem;
  color: var(--big-btn-color);
  margin-bottom: 0.8rem;
}

.intro {
  color: var(--paragraph-text-color);
  font-size: 0.875rem;
  font-weight: 600;
}

/* hero CTO */
.cto {
  display: flex;
  gap: 1.2rem;
}

.hire {
  color: var(--small-btn-color);
  font: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background-color: #42b883;
  padding: 8px 1em 8px 1em;
  display: block;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  transition-behavior: normal, normal;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
}

.hire-svg {
  color: var(--small-btn-color);
  font-size: 1rem;
}

.download {
  background: linear-gradient(
        var(--secondary-bg-color),
        var(--secondary-bg-color)
      )
      padding-box,
    linear-gradient(45deg, #42d392, #647eff) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  display: block;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  padding: 8px 18px;
  color: var(--big-btn-color);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.hire:hover {
  background-color: #5bd8a0;
}
.download:hover {
  background: linear-gradient(#373636, #373636) padding-box,
    linear-gradient(45deg, #42d392, #647eff) border-box;
  border: 2px solid transparent;
  color: var(--big-btn-color);
}

.page {
  height: 120px;
  padding: 1em;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.page .nav-btn {
  font-size: 0.876rem;
  background: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
  font-weight: 600;
  text-transform: uppercase;
}

.page .nav-btn:hover {
  background-color: var(--fore-bg-color);
}

.page .page-active {
  font-size: 1rem;
  opacity: 1;
  transform: translateX(2rem);
}

.social {
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
}
.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  padding: 2px;
  color: var(--paragraph-text-color);
  border: 1px solid var(--paragraph-text-color);
  background-color: var(--fore-bg-color);
  border-radius: 50%;
  transition: all 0.1s ease-in;
}

.svg:hover {
  transform: scale(1.05);
  border: 1px solid white;
}

.social-icon:hover {
  color: var(--fore-bg-color);
}

.twitter:hover {
  fill: rgb(7, 31, 245);
}

.message:hover {
  fill: rgba(122, 24, 2, 0.848);
}

.linkedIn:hover {
  fill: #339933;
}

.git-hub:hover {
  fill: rgb(2, 52, 121);
}
/* Hero end */

.right {
  width: 55%;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 2rem 3rem 1rem 1rem;
  border: transparent;
}

body::-webkit-scrollbar {
  display: none;
}
/* About Section */
.section-container {
  position: relative;
  border-top: 1px solid rgba(84, 84, 84, 0.48);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-title {
  background-color: var(--fore-bg-color);
  color: var(--title-color);
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 16px;
  border-radius: 6px;
  font-size: 0.8;
  font-weight: 500;
  border: 1px solid rgba(84, 84, 84, 0.48);

  z-index: 100;
}

.about-text {
  scrollbar-width: none;
}
.about-text p {
  margin-bottom: 1rem;
  color: var(--paragraph-text-color);
  text-align: left;
  line-height: 24px;
  font-size: 0.9rem;
  font-weight: 400;
}

.read-btn {
  background: transparent;
  border: none;
  color: #42b883;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.read-btn:hover {
  color: #045f16;
  text-decoration: underline;
}

/* SKill component styles */

.category-container {
  border-top: 1px solid rgba(84, 84, 84, 0.48);
  padding-top: 1.5rem;
}
.category-container p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 24px;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 8px 0;
  border-top: 1px solid rgba(84, 84, 84, 0.48);
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: var(--fore-bg-color);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--paragraph-text-color);
}

.skill-svg-container {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 10px;
}

.skill-svg {
  width: 100%;
  height: 100%;
}

/* Experience section start */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #42b883;
  border-radius: 50%;
  border-top-color: rgba(255, 255, 255, 0.87);
  animation: spinner 0.6s linear infinite;
  margin: 2rem auto;
}

/* experience section ends */

/* Project section styles start */

.project-card {
  display: flex;
  width: 100%;
  gap: 2%;
  border-radius: 8px;
  border: 1px solid rgba(84, 84, 84, 0.48);
  padding: 0.5rem 0.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.project-card:hover {
  background-color: var(--fore-bg-color);
}
.project-image {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid rgba(84, 84, 84, 0.48);
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.name-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.preview {
  width: 35%;
  display: flex;
  gap: 1rem;
  font-size: 0.7rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
}
.project-name {
  width: 60%;
  color: #42b883;
  text-transform: capitalize;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4px 0 0;
}

.project-description {
  font-size: 0.65rem;
  font-weight: 400;
  color: var(--paragraph-text-color);
}

.source {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--main-text-color);
}
.live-preview {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--main-text-color);
}

.live-preview .preview-link {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--main-text-color);
}
/* glowing for live preview */

.glowing-dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00d9ff; /* Neon blue */
  box-shadow: 0 0 8px #00d9ff, 0 0 16px #00d9ff, 0 0 24px #00d9ff;
  animation: glow 1s infinite ease-in-out;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 8px #00d9ff, 0 0 16px #00d9ff, 0 0 24px #00d9ff;
  }
  50% {
    box-shadow: 0 0 16px #00d9ff, 0 0 32px #00d9ff, 0 0 48px #00d9ff;
  }
}

/* color tags styles */
.tag-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.tool {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.tool p {
  font-size: 0.75rem;
  text-transform: capitalize;
}
.tag {
  display: inline-block;
  /* height: 24px;
  width: 100px; */
  border-radius: 9999px;
  text-align: left;
  tab-size: 4;
  padding: 4px 12px;
  border: none;
  outline: none;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--tag-text-color);
  background-color: var(--fore-bg-color);
}

/* language Tag styling 
.tool .Javascript {
  background-color: #dcc416e4;
}

.tool .CSS {
  background-color: #264de4;
}

.tool .React {
  background-color: #3bc5ec;
}

.tool .HTML {
  background-color: rgb(196, 16, 16);
}

.tool .API {
  background-color: rgb(246, 124, 9);
} */
/* SVG for skills Styling for fill color only */

.Node {
  fill: var(--color-node);
}
.Next {
  fill: var(--color-next);
}
.CSS {
  fill: var(--color-css);
}
.HTML {
  fill: var(--color-html);
}
.JavaScript {
  fill: var(--color-javascript);
}
.React {
  fill: var(--color-react);
}
.Python {
  fill: var(--color-python);
}
.Tailwind {
  fill: var(--color-tailwind);
}
.MongoDB {
  fill: var(--color-mongodb);
}
.PostgreSQL {
  fill: var(--color-postgresql);
}
.TypeScript {
  fill: var(--color-typescript);
}

.skill:hover .Node,
.skill:focus .Node {
  fill: #339933;
}

.skill:hover .Next,
.skill:focus .Next {
  fill: #3b3939;
}

.skill:hover .CSS,
.skill:focus .CSS {
  fill: #264de4;
}

.skill:hover .HTML,
.skill:focus .HTML {
  fill: #e44d26;
}

.skill:hover .JavaScript,
.skill:focus .JavaScript {
  fill: #dcc416e4;
}

.skill:hover .Python,
.skill:focus .Python {
  fill: #3776ab;
}

.skill:hover .React,
.skill:focus .React {
  fill: #3bc5ec;
}

.skill:hover .Tailwind,
.skill:focus .Tailwind {
  fill: #06b6d4;
}
.skill:hover .MongoDB,
.skill:focus .MongoDB {
  fill: #47a248;
}

.skill:hover .PostgreSQL,
.skill:focus .PostgreSQL {
  fill: #28567c;
}

.skill:hover .TypeScript,
.skill:focus .TypeScript {
  fill: #3178c6;
}

@media (max-width: 767px) {
  .project-card {
    flex-direction: column;
    padding: 0.5rem 0.5rem;
  }

  .project-info {
    width: 100%;
  }

  .project-image {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* Main media queries for layout an others  */

@media (max-width: 767px) {
  .content {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .left {
    order: 1;
    position: relative;
    width: 100%;
    height: fit-content;
    padding-bottom: 2rem;
  }

  .right {
    order: 2;
    position: relative;
    width: 100%;
  }
  .skill-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 0.75rem;
  }

  .hero-content {
    padding: 0.5rem 1.5rem 0 1.5rem;
    gap: 1.55rem;
  }
  .name {
    font-size: 2.5rem;
  }

  .job {
  }

  .page {
    display: none;
  }

  .right {
    padding: 1rem 1.5rem;
  }

  .cto {
    flex-direction: column;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .menu-container {
    display: block;
  }

  .content {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .left {
    order: 1;
    position: relative;
    width: 100%;
    height: fit-content;
  }
  .page {
    display: none;
  }
  .right {
    order: 2;
    position: relative;
    width: 100%;
  }

  .skill-container {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    gap: 0.75rem;
  }
}
